# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"
DL_DIR = "${HOME}/downloads/"
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    /var/home/goetz/github/SpotyPee/spotypee_build/openembedded-core/meta \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-openembedded/meta-oe \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-openembedded/meta-multimedia \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-openembedded/meta-networking \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-openembedded/meta-perl \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-openembedded/meta-python \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-raspberrypi \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-security \
    /var/home/goetz/github/SpotyPee/spotypee_build/meta-rpi-config \
"
