# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"
DL_DIR = "${HOME}/downloads/"
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/meta-openembedded/meta-oe \
    ##OEROOT##/meta-openembedded/meta-multimedia \
    ##OEROOT##/meta-openembedded/meta-networking \
    ##OEROOT##/meta-openembedded/meta-perl \
    ##OEROOT##/meta-openembedded/meta-python \
    ##OEROOT##/meta-raspberrypi \
    ##OEROOT##/meta-security \
    ##OEROOT##/meta-rpi-config \
    ##OEROOT##/meta-rust \
"
